[user]
  email = misha.marusyk@gmail.com
  name = Mykhailo Marusyk
[core]
  editor = nvim
  excludesFile = ~/.gitignore
  pager = less -F -X
[alias]
  br = branch
  bd = branch -D
  ci = commit
  cl = config --list
  cm = commit --amend --no-edit
  co = checkout
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  last = log -1 HEAD --stat
  st = status
